<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hackathon Basics</h5>
          <p class="white-text">Des hackathons organisés par des développeurs, pour des développeurs, au profit d'associations à but non lucratif.</p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Suivez-nous !</h5>
          <ul>
            <li><a href="https://twitter.com/HackathonBasics" class="white-text" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/HackathonBasics" class="white-text" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>
